nav {
  position: sticky !important;
}

*::-webkit-scrollbar{
  display: none;
}

.admin{
  /* font-family: "Courier New", Courier, monospace; */
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0 1em;
}

.scroll::-webkit-scrollbar{
  display: none;
}

.scroll{
  overflow: scroll;
}

.left-panel {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative; 
  height: 90vh; 
  overflow-y: scroll;
}

.right-panel{
  height: 80vh;
  
}

.right-grid,
.graph,
.row,
.row-2 {
  display: flex;
  gap: 1em;
}

.row{
  margin-top: 1em;
}

.btn-row{
  display: flex;
  gap: 3em;
  margin: 0 1em;
}

button.active {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0 0.2em;
}

.row2{
  display: flex;
  gap: 2em;
}

.graph{
  margin-top: 1em;
}

.display {
  display: flex;
  gap: 3em;
  margin: 2em 1em;
}

.nav{
  margin: 0 1.5em !important;
}

.back{
  width: 100% !important;
}

.first{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header{
  text-align: center;
  margin-bottom: 1em;
}

.mar{
  margin: 0 3.5em;
}

@media only screen and (max-width: 1140px){
  .display, .graph{
    flex-direction: column;
  }

  .left-panel, .right-grid, .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px){
  .right-grid, .row, .row-2, .left-panel, .row2, .graph{
    display: flex;
    flex-direction: column;
  }
  .mar{
    margin: 0;
  }

  .verti{
    rotate: 90deg;
  }

  .btn-row{
    gap: 1em;
    margin: 0 0.5em;
  }
}