nav {
  position: relative !important;
}

.admin{
  font-family: "Courier New", Courier, monospace;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0 1em;
}

.left-panel {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.right-grid,
.graph,
.row,
.row-2 {
  display: flex;
  gap: 1em;
}

.row{
  margin-top: 1em;
}

.btn-row{
  display: flex;
  gap: 3em;
  margin: 0 1em;
}

button.active {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0 0.2em;
}

.row2{
  display: flex;
  gap: 2em;
}

.graph{
  margin-top: 1em;
}

.display {
  display: flex;
  gap: 3em;
  margin: 2em 1em;
}

.nav{
  margin: 0 1.5em !important;
}

.first{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header{
  text-align: center;
  margin-bottom: 1em;
}