nav {
  position: relative !important;
}

.left-panel {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.right-grid,
.graph {
  display: flex;
  gap: 1em;
}

.graph{
  margin-top: 1em;
}

.display {
  display: flex;
  gap: 3em;
  margin: 2em 1em;
}
