.side-status {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  margin-top: 1em;
}

.graph2{
  width: calc(100% - 26vw);
  margin-top: 1em;
}

@media only screen and (max-width: 1140px){
  .graph2{
    width: 100%;
  }
}

@media only screen and (max-width: 600px){
  .side-status{
    flex-direction: row;
  }

  .sub{
    flex-direction: column;
  }
}
