.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 4px;
  bottom: 4px;
  background-color: grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggler {
  rotate: -90deg;
}

.on {
  border: 1px solid green !important;
  color: green !important;
}

.containers2 {
  font-family: "Courier New", Courier, monospace;
  color: grey;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 1em;
  text-align: center;
  display: flex;
  gap: 1em;
  justify-content: space-around;
}

.lefty{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media only screen and (max-width: 600px) {
  .slider:before {
    height: 1.5rem;
    width: 1.5rem;
  }
}
