:root {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.main,
.pow1,
.pow2 {
  font-size: 2rem;
  font-weight: 600;
}

.pow3 {
  font-size: 1.5rem;
}

.verti {
  width: 2px;
  background-color: white;
}

.sub {
  display: flex;
  gap: 1.5em;
}

.perc {
  font-size: 3.5rem;
  font-weight: 600;
}

.containers {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1em;
}

@media only screen and (max-width: 600px){
  :root{
    font-size: 8px;
  }

  .sub{
    align-items: center;
    gap: 0;
  }
}
