:root {
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.main,
.pow1,
.pow2 {
  font-size: 2rem;
  font-weight: 600;
}

.pow3 {
  font-size: 1.5rem;
}

.vertical {
  width: 2px;
  background-color: white;
}

.sub {
  display: flex;
  gap: 1.5em;
}

.perc {
  font-size: 3.5rem;
  font-weight: 600;
}

.containers {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1em;
  height: fit-content;
}
