:root {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.container {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding:1.5em;
}

.flex {
  gap: 0.5rem;
  font-size: 1.5rem;
  align-items: center;
}
