.vert span{
    background: transparent;
    border: 1px solid white;
}

.vert{
    position: absolute;
    left: 50%;
}

.timeline-card-content{
    background: #000024 !important;
    border: 1px solid white;
}

.laVdxH::after, .bOPcbp{
    background-color: white !important;
}

#timeline-main-wrapper{
    font-family: 'Courier New', Courier, monospace;
    background: #000024 !important;
}

.bGOvhX, .my-card-title{
    color: white !important;
    font-size: 1.5rem !important;
}

.bYyciE, .cVYrHn, .my-card-title{
    text-align: center !important;
}

@media only screen and (max-width: 1140px) {
    .vert{
        position:static;
        left: 0%;
    }
}