@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and () {
    .responsive{
        justify-content: center;
        align-self: center;
    }

    .stop, .line{
        display: none;
    }
}

